        <footer>

            <div class="copyright text-muted">{{ .Site.Params.copyright | default "&copy; All rights reserved. Powered by [Hugo](https://gohugo.io) and [Minimal](https://github.com/calintat/minimal)" | markdownify }}</div>
            <span class="disclaimer text-muted">{{ .Site.Params.disclaimer }}</span>
        </footer>
       
    </body>

</html>
