 <!-- Intentionally left empty. Override this partial in your website to insert code just after the 
      opening <head> tag. For example, to install Google Tag Manager. -->
        <meta name="twitter:title" content="MARC Commuter">
        <meta name="twitter:description" content="Get MARC statuses and alerts on Android">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:image" content="https://marctrain.app/img/icon-round-x250.png">

