{{ partial "header" . }}

<main>

    <div class="intro">

        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }}

        <h1>{{ .Site.Title }}</h1>

        <h2>{{ markdownify .Site.Params.Description }}</h2>
        <a href='https://play.google.com/store/apps/details?id=com.idleoffice.marctrain' target="_blank">
            <img class="storeLink" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/>
        </a>
    </div>

</main>

{{ partial "footer" . }}
